/** {
	color: #717171;
	background-color: #F4FBF5;
}*/
.c-header {
	position: relative;
	min-width: 480px;
}
.c-header__logo {
	position: absolute;
	top: 5%;
	z-index: 1;
}
.u-biglogo {
	width: 20%;
}
.c-header__btn {
	position: absolute;
	display: inline;
	float: right;
	top: 80px;
	right: 10%;
	width: 10%;
	height: 60px;
	z-index: 2;
}
.c-topcontainer {
	min-width: 480px;
	position: relative;
}
.c-topcontainer__img {
	width: 100%;
}
.u-fullscreen{
	height: 100vh;
}
.c-topcontainer__title {
	position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
}
.c-topcontainer__subtitle {
    position: absolute;
    top: 60%;
    left: 30%;
    text-align: center;
}
.c-news {
	min-width: 480px;
	margin: 5%;
	padding: 20px;
	background-color: #FFFFFF
}
.c-news__title {
	color: #717171;
}
.c-news__article {
	font-size: 2.0em;
	color: #717171;
}
.c-news__link{
	padding-bottom: 10px;
	text-decoration: none;
	color: #717171;
}
.c-pgdescription {
	position: relative;
	margin-top: 0px;
	padding-top: 100px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 100px;
}
.c-pgdescription__article{
	font-size: 2.0em;
}
.c-pgdescription__logo {
	position: absolute;
	margin-top: -20px;
	right: 40px
}
.c-table {
	min-width: 480px;
	padding-top: 100px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 100px;
	background-color: lightgrey;
	overflow-x: auto;
}
.c-table__title {
	vertical-align: bottom;
	font-size: 2.0em;
}
.c-table__subtitle {
	font-size: 0.7em;
	vertical-align: bottom;
}
.c-table__menu {
	padding-top: 20px;
}
.c-table__price {
	text-align: right;
}
.c-container {
	min-width: 480px;
}
.c-container__simpleimg {
	width: 100%;
}
.c-article {
	min-width: 480px;
	background-color: lightgrey;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
.c-article__title {
	padding-bottom: 30px;
}
.c-article__text {
	padding-bottom: 20px;
}
.c-article__img {
	width: 100%
}
.c-reservation {
	text-align: center;
	margin: 30px;
	padding: 20px;
}
.c-reservation__text {
	padding-bottom: 20px;
}
.c-reservation__link {
	margin-right: 50px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #717171;
}
.c-footer {
	background-color: #24252C;
	padding-left: 30px;
	min-width: 480px;
}
.c-footer__logo {
	padding-top: 50px;
	padding-bottom: 50px;
}
.c-footer__title {
	padding-bottom: 20px;
	font-size: 2.4em;
}
.c-footer__details {
	font-size: 1.8em;
}
.c-footer__sociallogo {
	width: 30px;
	padding: 5px;
}
.c-footer__copyright {
	color: #78787C;
	padding-top: 30px;
	font-size: 10px;
}
.u-middlelogo {
	width: 100px;
	height: 100px
}
.u-smalllogo {
	width: 50px;
	height: 50px;
}
.u-uppercase {
	text-transform: uppercase;
}
.u-underline {
	border-bottom: 1px solid black;
}
.u-white {
	color: white;
}
.u-capitalize {
	text-transform: capitalize;
}
.u-center {
	text-align: center;
}
.u-small {
	font-size: 1.5em;
	}
.u-italic {
	font-style: italic;
}
.u-middlefont {
	font-size: 2.0em;
}
/*
@media only screen and (max-width: 480px) {
.container {
	height: 100px;
	width: 10px;
	background-color: red;
	padding-top: 3px;
}
}*/
