@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900");

/* ------------------------------------------------------------------------------------ */
/* GENERAL */
/* ------------------------------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

/* ------------------------------------------------------------------------------------ */
/* LISTS */
/* ------------------------------------------------------------------------------------ */
.c-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ------------------------------------------------------------------------------------ */
/* PAGE HEADER */
/* ------------------------------------------------------------------------------------ */
.c-page-header {
    position: relative;
    display: flex;
    height: 100vh;
    content: '';
    color: #fff;
    background-image: url("http://uploads.webflow.com/596da34de38af95a0f339db4/5970596f8a8e2b4757805412_Hero-3.jpg");
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.c-page-header__logo {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 75px;
    height: auto;
}

.c-page-header__menu-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* ------------------------------------------------------------------------------------ */
/* PAGE NAVIGATION */
/* ------------------------------------------------------------------------------------ */
.c-page-navigaiton {
    display: none;
    position: absolute;
    top: 50px;
}

.c-page-navigaiton.active {
    display: block;
}

/* ------------------------------------------------------------------------------------ */
/* PAGE HERO */
/* ------------------------------------------------------------------------------------ */
.c-page-hero {
    width: 100%;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.c-page-header__title,
.c-page-header__subtitle {
    font-weight: 300;
}

.c-page-header__title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 45px;
}

.c-page-header__title:after {
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto 0 auto;
    content: '';
    background-color: #fff;
}

.c-page-header__subtitle {
    font-size: 21px;
}


/* ------------------------------------------------------------------------------------ */
/* GO DOWN */
/* ------------------------------------------------------------------------------------ */
.c-go-down {
    position: absolute;
    bottom:  50px;
    left: 0;
    right: 0;
    width:  50px;
    margin-right:  auto;
    margin-left:  auto;
}


/* ------------------------------------------------------------------------------------ */
/* PAGE FOOTER */
/* ------------------------------------------------------------------------------------ */
